@keyframes box-mover {
    0% {
        left: 0;
        width: 200px;
    }

    100% {
        left: 1500px;
        width: 200px;
    }

}

@keyframes svetafor-red {
    0% {
        left: 0;
        width: 20px;
        height: 20px;
    }

    100% {
        background-color: red;
        width: 20px;
        height: 20px;
    }
}

@keyframes svetafor-yellow {
    0% {
        left: 0;
        width: 20px;
        height: 20px;
    }

    100% {
        background-color: yellow;
        width: 20px;
        height: 20px;
    }
}

@keyframes svetafor-green {
    0% {
        left: 0;
        width: 20px;
        height: 20px;
    }

    100% {
        background-color: green;
        width: 20px;
        height: 20px;
    }
}

.box {
    width: 200px;
    height: 200px;
    position: relative;
    animation-name: box-mover;
    animation-duration: 4s;
    animation-delay: 9s;
    animation-iteration-count: 1;
    /* animation-timing-function: ease-in-out; */
    animation-fill-mode: both;
}

.svetafor__red {
    animation-name: svetafor-red;
    border: 2px solid;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    animation-duration: 7s;
    animation-delay: 2s;
}

.svetafor__yellov {
    animation-name: svetafor-yellow;
    border: 2px solid;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    animation-duration: 4s;
    animation-delay: 5s;
}

.svetafor__green {
    animation-name: svetafor-green;
    border: 2px solid;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    animation-duration: 8s;
    animation-delay: 7s;
}

.svetafor {
    border-radius: 5px;
    background-color: black;
    margin-left: 250px;
    transform: translateY(30px);
    border: 2px solid;
    width: 23.5px;
}